# Adding colums High_Low_Speed and High_Low_HP

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("pokemon.csv")
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [13]:
data["Speed"].mean()

68.2775

In [11]:
Speed_mean = data["Speed"].mean()
def set_speed(val):
    if val > Speed_mean:
        return "Speed high"
    else:
        return "Speed low"
data["Speed_high_low"] = data["Speed"].apply(set_speed)
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Speed low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Speed low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Speed high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Speed high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Speed low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Speed low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Speed high
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Speed high
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Speed high
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Speed high

In [14]:
data["HP"].mean()

69.25875

In [15]:
HP_mean = data["HP"].mean()
def set_HP(val):
    if val > HP_mean:
        return "HP high"
    else:
        return "HP low"

data["HP_high_low"] = data["HP"].apply(set_HP)
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Speed_high_low,HP_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Speed low,HP low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Speed low,HP low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Speed high,HP high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Speed high,HP high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Speed low,HP low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Speed low,HP low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Speed high,HP low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Speed high,HP high
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Speed high,HP high
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Speed high,HP high